<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>  
    <add key="minecraftDirectory" value="%APPDATA%\.minecraft" />
    <add key="downloadAddress" value="https://github.com/elliotnash/fabricMods/archive/master.zip" />
    <add key="defaultAddress" value="https://github.com/elliotnash/fabricMods/archive/master.zip" />
  </appSettings>
</configuration>